@if (sections().length > 0) {
    <div class="row mb-4 pb-3">
        @for (section of sections(); track section.titleKey) {
            <div [class]="'mb-3 col-12 col-lg-' + Math.floor(12 / sections().length)">
                <div class="fw-bold mb-2">{{ section.titleKey | translate }}</div>
                <ul class="list-unstyled small">
                    @for (item of section.items; track $index) {
                        <li [class]="item.itemClass ? 'my-1 ' + item.itemClass : 'my-1'">
                            @if (item.label) { <span>{{ item.label }}:</span>&nbsp; }
                            <strong>
                                @switch (item.kind) {
                                    @case ('link') { <a [href]="item.href">{{ item.value }}</a> }
                                    @case ('code') { <code>{{ item.value }}</code> }
                                    @default { <span>{{ item.value }}</span> }
                                }
                            </strong>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
    <hr />
}
