<a class="visually-hidden-focusable skip-link" href="#main-content">
    {{ 'skipToContent' | translate }}
</a>

<app-back-to-top />
<app-cookie-banner />

@if (smoke.enable) {
    <app-smoke-effect [config]="smoke" />
}

@if (showNavbar()) {
    <app-navbar />
}

<main id="main-content" class="container-fluid py-4">
    <div class="row">
        @if (showPanel()) {
            <div class="col-12 col-lg-10 offset-lg-1 shadow rounded content-panel"
                 [class.panel-light]="theme.panelForcedLight()"
                 [attr.data-bs-theme]="theme.panelBootstrapTheme()">
                <router-outlet />
            </div>
        } @else {
            <div class="col-12">
                <router-outlet />
            </div>
        }
    </div>
</main>

@if (showFooter) {
    <app-footer />
}
