@if (links().length > 0) {
    <div class="row mb-3">
        <div class="col-12">
            <div class="row justify-content-center footer-nav-row">
                @for (item of links(); track item.path) {
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3 text-start">
                        @if (isGroup(item)) {
                            <div class="footer-group">
                                <span class="footer-group-title small fw-bold text-uppercase d-block mb-2">
                                    {{ item.label | translate }}
                                </span>
                                <ul class="list-unstyled mb-0">
                                    @for (sub of item.children; track sub.path) {
                                        <li>
                                            <app-nav-link [link]="sub" cssClass="footer-link d-block small" />
                                        </li>
                                    }
                                </ul>
                            </div>
                        } @else {
                            <div class="footer-single">
                                <app-nav-link [link]="item" cssClass="footer-link small" />
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    <hr />
}
