<!-- Vetrina icone di utilita' -->
<div class="text-center" aria-hidden="true">
    <app-icon glyph="fa-solid fa-clone" animation="shake" />
    <app-icon glyph="fa-solid fa-scissors" animation="shake" />
    <app-icon glyph="fa-solid fa-paste" animation="shake" />
    <app-icon glyph="fa-solid fa-download" animation="shake" />
    <app-icon glyph="fa-solid fa-envelope" animation="shake" />
    <app-icon glyph="fa-solid fa-file-pdf" animation="shake" />
    <app-icon glyph="fa-solid fa-bell" animation="shake" />
</div>
<hr>
<div class="text-center">
    @if (socialLinks().length > 0) {
    @for (link of socialLinks(); track link.type) {
    <app-social-link [type]="link.type" [value]="link.url" />
    }
    }
</div>
